<p>issue-list works!</p>
<input type="text" #inputSearch (keyup)="search(inputSearch.value)" />

<button (click)="getIssues()">Obtener issues</button>

<!-- 
    <ul>
    <li *ngFor="let issue of issues">
         repo id {{ issue.id }} <br>
        repo name {{ issue.name }} <br>
        issues count {{issue.open_issues_count}}
        {{ issue.created_at }} 
    </li>
</ul> 
-->

<p *ngIf="repos$ | async as repos ">
{{repos}}
</p>

<!-- <ul>
    <li *ngFor="let repo of repos$ | async as repos">

        {{repos | json}}

         repo id {{ repo.id }} <br>
         owner name {{repo.owner.login}} <br>
        repo name {{ repo.name }} <br>
        repos url {{repo.url}} <br>
        repos issues {{repo.open_issues_count}}
    </li>
</ul> -->