<div class="md:container md:mx-auto selection:bg-fuchsia-300 selection:text-fuchsia-900 flex flex-col items-center">
    <h2 class="py-10 text-2xl">Welcome to GitHub Issues API reader</h2>
    <p class="py-5">Please enter repository link into the searchbox to get issues info</p>
    <div class="border-[#58a6ff] border-solid rounded-md my-10 overflow-hidden md:w-80 lg:w-96" 
    style="
        box-shadow: 0px 0px 6px #5808d8, 
        0px 0px 10px #6a27d6, 
        0px 0px 15px#7649c0, 
        0px 0px 20px#815bc0, 
        0px 0px 30px#896fb3, 
        0px 0px 40px #9d73aa   
    ;">

        <app-form-search></app-form-search>
    </div>
</div>
